.sidebar-container {
    background-color: #1f1c2c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 230px;
  }
  
  .sidebar-title {
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid #928dab;
    padding-bottom: 10px;
  }
  
  .filter-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .filter-group label {
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .filter-group select,
  .filter-group input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  